body {
  background-image: url("./shara\ desert.jpg");
  background-color: #cccccc;
  height: 600px;

  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 50%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  height: 80px;
}
.logo img {
  height: 50px;
  width: 55px;
}
.nav-navigation {
  display: flex;
  align-items: center;

  justify-content: space-evenly;
}
.navlinks a {
  /* padding: 10%; */
  text-decoration: none;
}
.navlinks ul {
  color: white;
  padding: 5vh;
  font-size: 0.8rem;
  display: flex;
  gap: 8vh;
  list-style-type: none;
}
@media only screen and (min-width: 856px) {
  .navlinks ul {
    padding: 2vh;
  }
}
.nav-Burger img {
  height: 35px;
  width: 35px;
  padding: 8vh;
}

.body-content {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: center;
}
.content1 {
  width: 40%;
  padding: 30px;
}
.body-title-logo {
  font-size: 6rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
.body-text {
  color: white;
  line-height: 1.6rem;
}
.explore-button {
  background-color: white;
  width: 180px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 30px;
}

.content2 {
  /* display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;
  gap: 3rem; */
  display: grid;
  grid-template-columns: 200px 200px;
  column-gap: 100px;
  row-gap: 40px;
}

.tile {
  height: 200px;
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  transition: all 300ms;
}
.tile:hover {
  cursor: pointer;
  translate: 0px -10px;
}
.tile1 {
  background-image: url("./pic-1.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.tile2 {
  background-image: url("./pic-2.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.tile3 {
  background-image: url("./pic-3.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.tile4 {
  background-image: url("./pic-4.png");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
.tile-head {
  font-weight: bold;
  text-shadow: 0px 0px 5px white;
}
.tile-text {
  font-size: 10px;
  line-height: 30px;
}

@media screen and (min-width: 280px) and (max-width: 1000px) {
  .navbar {
    gap: 30%;
    align-content: normal;
    height: unset;
  }
  .navlinks ul {
    padding: 0;
  }
  .nav-Burger img {
    padding: 2vh 4vh 2vh 6vh;
  }
  .body-content {
    flex-direction: column;
  }
  .content1 {
    padding: none;
    width: 80%;
  }
  .body-title-logo {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .body-text {
    font-size: 1rem;
  }
  .content2 {
    grid-template-columns: auto;
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .logo img {
    height: 45px;
    width: 50px;
  }
  .nav-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navlinks ul {
    color: white;
    gap: 1vh;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    list-style-type: none;
  }
  .content1 {
    padding: 15px;
  }
  .nav-Burger img {
    padding: 2vh 2vh 2vh 2vh;
  }
  .tile {
    box-sizing: border-box;
  }
}
